html,
body {
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI,
    Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  align-items: center;
  background-color: #222;
  color: white;
}

header > p,
h2 {
  font-size: 1.25rem;
}

.image {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.image > img {
  height: 30px;
  margin-right: 10px;
}

.links > a {
  font-weight: 700;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
  margin-right: 1.75rem;
}

.links {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-self: center;
}

.content > * {
  margin-top: 20px;
  margin-bottom: 0;
}

.content-title {
  font-weight: 700;
  font-size: 2.5rem;
}

.content-subtitle,
.chapter-p {
  font-weight: 300;
  font-size: 1.25rem;
}

.chapter-title {
  font-weight: 500;
  font-size: 2.25rem;
}

.cookies-msg {
  position: absolute;
  left: 15%;
  right: 15%;
  top: 40%;
  width: 70%;
  color: white;
}

.cookies-msg > * {
  color: inherit;
}

.cookies-backdrop {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.image,
.spacer,
.links {
  width: -webkit-fill-available;
}
