body{
    font-family:sans-serif
}

.ninja-btn {
    position: absolute;
    top: 5px;
    right: 3px;

    padding: 12px 18px;
    border-radius: 20px;
    background:#ff725e;
    color:white;
    border:none;
    cursor:pointer;
    font-size:16px;

    box-shadow: 0 2px 6px rgba(0,0,0,.25);
    z-index: 100;
}

.ninja-btn:hover {
    transform: scale(1.06);
}

.ninja-dialog{
    position:fixed;
    inset:0;
    display:grid;
    place-items:center;
    background:rgba(0,0,0,.4);
    z-index:1000
}

.ninja-dialog.hidden{
    display:none
}

.ninja-dialog-inner{
    width:350px;
    background:white;
    padding:20px;
    border-radius:12px
}

.ninja-dialog-inner label{display:block;
    margin-top:12px;
    font-weight:bold
}

.ninja-dialog-inner input[type=text]{
    width:100%;
    padding:6px;
    margin-top:6px
}

.ninja-avatar{
    position:absolute;
    width:60px;
    height:60px;
    border-radius:50%;
    background-size:cover;
    background-position:center;
    cursor:grab;
    z-index:900;
    border:2px solid white;
    box-shadow:0 0 6px rgba(0,0,0,.5)
}

.ninja-avatar.hidden{
    display:none
}

.other-ninja{
    position:absolute;
    top:0;
    left:0;
    border-radius:50%;
    background:#ff725e;
    color:#fff;
    display:flex;
    align-items:center;
    justify-content:center;
    font-weight:bold;
    border:2px solid white;
    box-shadow:0 0 6px rgba(0,0,0,.5)
}

.other-ninja {
    transition: transform 0.1s;
}

.other-ninja:hover {
    transform: scale(1.1);
}
