{{/* 
  Nutzt entweder:
  - {{< backfromlab "link" >}}
  - {{< backfromlab "[optional text](link)" >}}
*/}}

{{- $raw := .Get 0 -}}
{{- $re := `^\[(.*?)\]\((.*?)\)$` -}}
{{- $match := findRE $re $raw -}}

{{- if gt (len $match) 0 -}}
  {{- $text := index $match 0 | replaceRE $re "${1}" -}}
  {{- $target := index $match 0 | replaceRE $re "${2}" -}}
{{- else -}}
  {{- $text := "" -}}
  {{- $target := $raw -}}
{{- end -}}

{{- $text := cond (gt (len $match) 0) (index $match 0 | replaceRE $re "${1}") "" -}}
{{- $target := cond (gt (len $match) 0) (index $match 0 | replaceRE $re "${2}") $raw -}}
{{- $sanitized := replace (replace (replace $target "/" "" ) "." "-" ) "_" "-" -}}

<p id="back-from-lab" data-url="{{ $sanitized }}">
  <a href="{{ $target }}">
    <img src="/images/task.png" alt="task" style="width: 50px; vertical-align: middle; margin-right: 8px;">
  </a>
  Jetzt bist du dran. Löse bitte die folgende 
{{ if $.Page.Scratch.Get "inWorkbook" }}
  Aufgabe 
{{ else }}
  <a href="{{ $target }}">!*Aufgabe</a> 
{{ end }}
  in den Labs{{ with $text }} ({{ . }}){{ end }}.
</p>
