{{- /*
Shortcode: todo
Zeigt einen Hinweis mit Bild links, fettem Hinweistext und optionalem Inhalt (Inner).
*/ -}}

{{ $inner := .Inner }}

{{ if findRE "^\\s*<!--" $inner }}
  {{ $inner = $inner | replaceRE "^\\s*<!--\\s*" "" }}
  {{ $inner = $inner | replaceRE "\\s*-->\\s*$" "" }}
{{ end }}

{{ $inner = printf "%s\n" $inner }}

<div style="display: flex; align-items: flex-start; background-color: #B0B0B0; margin-bottom: 1rem; border-radius: 12px">
  <div style="flex-shrink: 0; margin-right: 1rem;">
    <img src="/images/it-ninja-work.png" alt="SBB Logo" style="width: 60px; height: 60px; border-radius: 12px; margin: 6px;">
  </div>
  <div style="font-size: 1.1rem; flex-grow: 1; padding-top: 6px">
    <p class="font-bold mb-2">Entschuldige, da fehlt noch was...</p>
    --> {{ $inner | markdownify }}
  </div>
</div>
